# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.xml

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Data #

*.fastq
*.fastq.gz
*.fq

# Whole Directories #
/Data/Hash_Results
/Programs

Data/Process_RadTags_Output/Opt1_output.txt
*.xlsx
*.bai
*.bam
*.sam
*.list
*.bt2
*.amb
*.ann
*.bwt
Data/Trimmomatic_Out/GATKRefTrim.pac
Data/Trimmomatic_Out/GATKRefTrim.sa
Data/Trimmomatic_Out/233_Amplicons.fa.fai
*.dict
*.sai
*.png
*.genos
Data/Garrett_Hash_Results/2010AC19003_S9_L001_R1_001.txt
Data/Garrett_Hash_Results/2010AC19003_S9_L001_R2_001.txt
Data/Garrett_Hash_Results/2010AC19006_S10_L001_R1_001.txt
Data/Garrett_Hash_Results/2010AC19006_S10_L001_R2_001.txt
Data/Garrett_Hash_Results/2010AC19008_S11_L001_R1_001.txt
Data/Garrett_Hash_Results/2010AC19008_S11_L001_R2_001.txt
Data/Garrett_Hash_Results/2010AC19015_S12_L001_R1_001.txt
Data/Garrett_Hash_Results/2010AC19015_S12_L001_R2_001.txt
Data/Garrett_Hash_Results/2010AC19041_S17_L001_R1_001.txt
Data/Garrett_Hash_Results/2010AC19041_S17_L001_R2_001.txt
Data/Garrett_Hash_Results/2010AC19047_S13_L001_R1_001.txt
Data/Garrett_Hash_Results/2010AC19047_S13_L001_R2_001.txt
Data/Garrett_Hash_Results/2010AC19049_S14_L001_R1_001.txt
Data/Garrett_Hash_Results/2010AC19049_S14_L001_R2_001.txt
Data/Garrett_Hash_Results/2010AC19050_S15_L001_R1_001.txt
Data/Garrett_Hash_Results/2010AC19050_S15_L001_R2_001.txt
Data/Garrett_Hash_Results/2010AC19057_S16_L001_R1_001.txt
